@{
    Layout = "_LayoutOnline";
} 
@section Header{
    @RenderSection("Header", required: false)
    }
<div class="container main">
    <div class="row">
        @RenderBody()  
        <div class="listcol last right-column">
            <div class="sidebar-box cate-list">
                <div class="sidebar-box advertise-here list-link">
                    <a href="javascript:void(0);">笔试题分类</a>
                </div>
                <div class="cate-items">
                    @Html.Raw(ViewData["questionmenu"])
                </div>
            </div>
            @*<div class="sidebar-box sidebar-cate">
                <div class="sidebar-tree">
                    <ul>
                        <li class=""> <a href="javascript:void(0);" class="tit">HTML教程</a></li>
                        <li class=""> <a href="javascript:void(0);" class="tit">HTML5教程</a></li>
                        <li class=""> <a href="javascript:void(0);" class="tit">CSS教程</a></li>
                        <li class=""> <a href="javascript:void(0);" class="tit">My SQL教程</a></li>
                        <li class=""> <a href="javascript:void(0);" class="tit">C#教程</a></li>
                        <li class=""> <a href="javascript:void(0);" class="tit">JAVA教程</a></li>
                        <li class=""> <a href="javascript:void(0);" class="tit">ASP.NET教程</a></li>
                    </ul>
                </div>
            </div>*@

            <div class="sidebar-box cate-list">
                <div class="sidebar-box advertise-here list-link">
                    <a href="javascript:void(0);">教程列表</a>
                </div>
                <div class="cate-items">
                    @Html.Raw(ViewData["menuquestioncourse"])
                </div>
            </div>
        </div>
    </div>
</div>