@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    List<String> typeList = (List<String>)ViewData["typeList"];
}
<script src="http://code.jquery.com/jquery-latest.js"></script>

typename:
<select id="sel">
    @foreach (var item in typeList)
    {
        <option value="@item">@item</option>
    }
</select>
<br />
<textarea name="content" id="container"></textarea>
<br />
<br />
<input type="button" value="新增" onclick="Create()" />
<script src="~/editor/ueditor.config.js"></script>
<script src="~/editor/ueditor.all.js"></script>
<script type="text/javascript">
    var ue = UE.getEditor('container');
    function Create() {
        var type = $("#sel").val();
        var content = UE.getEditor('container').getContent();
        $.ajax({
            url: "/Tuijian/Create",
            type: "POST",
            data: { type: type,  content: content },
            success: function (data) {
                alert(data);
            }
        })
    }
</script>