@{
    ViewData["Title"] = "Home Page";
    Layout = "_LayoutOnline";
}

<div class="container main"> 
    <div class="row"> 
        <div class="col left-column">
            <div class="sidebar-box gallery-list"> 
            <div class="design" id="leftcolumn"> 
                <h2 class="left"><span class="left_h2">HTML5</span></h2>
                @Html.Raw(ViewData["menuHtml"])
                </div> 
            </div>
        </div>
        <div class="col middle-column">
            <div class="article">
                <div class="previous-next-links"> 
                <div class="next-design-link"><a href="html-intro.html" rel="next" title="HTML 简介">HTML 简介</a> →</div> </div> 
                <div class="article-body"> 
                    <div class="article-intro" id="content"> 
                        @Html.Raw(ViewData["content"])
                    </div> 
                </div>
            </div>
        </div>
        <div class="fivecol last right-column">
            
            <div class="tab tab-light-blue">分类导航</div> 
            <div class="sidebar-box sidebar-cate"> 
            <div class="sidebar-tree"> 
                <ul>
                    <li class=""> <a href="javascript:void(0);" class="tit">HTML / CSS</a></li>
                    <li class=""> <a href="javascript:void(0);" class="tit">HTML / CSS</a></li>
                    <li class=""> <a href="javascript:void(0);" class="tit">HTML / CSS</a></li>
                    <li class=""> <a href="javascript:void(0);" class="tit">HTML / CSS</a></li>
                    <li class=""> <a href="javascript:void(0);" class="tit">HTML / CSS</a></li>
                    <li class=""> <a href="javascript:void(0);" class="tit">HTML / CSS</a></li>
                    <li class=""> <a href="javascript:void(0);" class="tit">HTML / CSS</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>