@{
    Layout = "_LayoutOnline";
}
@section Header{
    <title>霹雳猿教程 - 成就你的IT人生！</title>
    <link rel="canonical" href="www.piliyuan.com">
    <meta name="keywords" content="HTML,CSS,PHP,DOM,JavaScript,jQuery,XML,AJAX,ASP.NET,W3C,MySQL,SQL,jquery mobile,bootstrap,Python,jquery easyui,jquery ui,angularjs">
    <meta name="description" content="霹雳猿教程(www.piliyuan.com)提供了最全的编程技术基础教程, 介绍了HTML、CSS、Javascript、Python，Java，Ruby，C，PHP , MySQL等各种编程语言的基础知识。 帮助您成就您的IT梦想！">
}

<div class="container main">
    <div class="row">
        <div class="col left-column" id="main-left-cloumn">
            <div class="tab" id="cate0"><i class="fa fa-reorder"></i> 全部教程</div>
            <div class="sidebar-box gallery-list">
                <div class="design" id="cate1">
                    <div class="navto-nav"><i class="fa fa-external-link"></i> HTML/CSS教程</div>
                </div>
                <div class="design" id="cate2">
                    <div class="navto-nav"><i class="fa fa-external-link"></i> JavaScript教程</div>
                </div>
                <div class="design" id="cate3">
                    <div class="navto-nav"><i class="fa fa-external-link"></i> 服务器端编程教程</div>
                </div>
                <div class="design" id="cate4">
                    <div class="navto-nav"><i class="fa fa-external-link"></i> JavaEE教程</div>
                </div>
                <div class="design" id="cate5">
                    <div class="navto-nav"><i class="fa fa-external-link"></i> 数据库教程</div>
                </div>
            </div>
        </div>
        <div class="col middle-column-home">
            @*<div class="codelist codelist-desktop cate1">

                <h2><i class="fa fa-list"></i> HTML / CSS</h2>
                <a class="item-top item-1" href="/HTML/1.html">
                    <h4>HTML/HTML5教程</h4>
                    <img class="codeicon codeicon-36" height="36" width="36" src="http://static.runoob.com/images/icon/html.png">
                    <strong>HTML，书写网页代码的一种规范，一种标准。</strong>
                </a>
                <a class="item-top item-1" href="/CSS/2.html">
                    <h4>CSS/CSS3教程</h4>
                    <img class="codeicon codeicon-36" height="36" width="36" src="http://static.runoob.com/images/icon/css.png">
                    <strong>HTML的样式表</strong>
                </a>
                <a class="item-top item-1" href="/QuestionList/HTML/1.html">
                    <h4>HTML/CSS笔试题库</h4>
                    <img class="codeicon codeicon-36" height="36" width="36" src="http://static.runoob.com/images/icon/html.png">
                    <strong>收录各大IT公司的HTML/CSS笔试题！</strong>
                </a>
            </div>*@
            <div class="codelist codelist-desktop cate2">
                <h2><i class="fa fa-list"></i> JavaScript</h2>
                <a class="item-top item-1" href="/Javascript/30.html">
                    <h4>JavaScript教程</h4>
                    <img class="codeicon codeicon-36" height="36" width="36" src="http://static.runoob.com/images/icon/js.png">
                    <strong>广泛用于客户端的脚本语言</strong>
                </a>
                <a class="item-top item-1" href="/JQuery/4.html">
                    <h4>jQuery教程</h4>
                    <img class="codeicon codeicon-36" height="36" width="36" src="http://static.runoob.com/images/icon/jquery.png">
                    <strong>jQuery 是一个 JavaScript 库</strong>
                </a>
                <a class="item-top item-1" href="/QuestionList/JavaScript/1.html">
                    <h4>JavaScript笔试题库</h4>
                    <img class="codeicon codeicon-36" height="36" width="36" src="http://static.runoob.com/images/icon/js.png">
                    <strong>收录各大IT公司的JS笔试题！</strong>
                </a>
            </div>
            <div class="codelist codelist-desktop cate3">
                <h2><i class="fa fa-list"></i> 各编程语言教程</h2>
                <a class="item-top item-1" href="/Java/5.html">
                    <h4>Java语言教程</h4>
                    <img class="codeicon codeicon-36" height="36" width="36" src="http://static.runoob.com/images/icon/js.png">
                    <strong>目前最流行的服务器端编程语言</strong>
                </a>
                <a class="item-top item-1" href="/C/6.html">
                    <h4>C语言教程</h4>
                    <img class="codeicon codeicon-36" height="36" width="36" src="http://static.runoob.com/images/icon/jquery.png">
                    <strong></strong>
                </a>
                <a class="item-top item-1" href="/CPlus/7.html">
                    <h4>C++教程</h4>
                    <img class="codeicon codeicon-36" height="36" width="36" src="http://static.runoob.com/images/icon/js.png">
                    <strong>收录各大IT公司的JS笔试题！</strong>
                </a>
                <a class="item-top item-1" href="/CSharp/14.html">
                    <h4>C#教程</h4>
                    <img class="codeicon codeicon-36" height="36" width="36" src="http://static.runoob.com/images/icon/js.png">
                    <strong>收录各大IT公司的JS笔试题！</strong>
                </a>
            </div>
            <div class="codelist codelist-desktop cate4">
                <h2><i class="fa fa-list"></i> JavaEE教程</h2>
                <a class="item-top item-1" href="/JSP/8.html">
                    <h4>JSP/Servlet基础教程</h4>
                    <img class="codeicon codeicon-36" height="36" width="36" src="http://static.runoob.com/images/icon/js.png">
                    <strong>目前最流行的服务器端编程语言</strong>
                </a>
                <a class="item-top item-1" href="/Struts2/9.html">
                    <h4>Struts教程</h4>
                    <img class="codeicon codeicon-36" height="36" width="36" src="http://static.runoob.com/images/icon/jquery.png">
                    <strong></strong>
                </a>
                <a class="item-top item-1" href="/Hibernate/12.html">
                    <h4>Hibernate教程</h4>
                    <img class="codeicon codeicon-36" height="36" width="36" src="http://static.runoob.com/images/icon/jquery.png">
                    <strong></strong>
                </a>
                <a class="item-top item-1" href="/Spring/13.html">
                    <h4>Spring教程</h4>
                    <img class="codeicon codeicon-36" height="36" width="36" src="http://static.runoob.com/images/icon/jquery.png">
                    <strong></strong>
                </a>
                <a class="item-top item-1" href="/QuestionList/Java/1.html">
                    <h4>Java笔试题库</h4>
                    <img class="codeicon codeicon-36" height="36" width="36" src="http://static.runoob.com/images/icon/jquery.png">
                    <strong></strong>
                </a>
            </div>
            <div class="codelist codelist-desktop cate5">
                <h2><i class="fa fa-list"></i> 数据库教程</h2>
                <a class="item-top item-1" href="/SQL/10.html">
                    <h4>SQL语言教程</h4>
                    <img class="codeicon codeicon-36" height="36" width="36" src="http://static.runoob.com/images/icon/js.png">
                    <strong>目前最流行的服务器端编程语言</strong>
                </a>
                <a class="item-top item-1" href="/MYSQL/11.html">
                    <h4>MySQL教程</h4>
                    <img class="codeicon codeicon-36" height="36" width="36" src="http://static.runoob.com/images/icon/jquery.png">
                    <strong></strong>
                </a>
            </div>
            <div class="codelist codelist-mobile">

                <h2><i class="fa fa-list"></i> HTML / CSS</h2>


                <a class="item-top item-1" href="/HTML/1.html">
                    <h4>HTML</h4>
                </a>

                <a class="item-top item-1" href="/HTML/1.html">
                    <h4>HTML5</h4>
                </a>

                <a class="item-top item-1" href="http://www.runoob.com/css/css-tutorial.html">
                    <h4>CSS</h4>
                </a>

                <a class="item-top item-1" href="http://www.runoob.com/css3/css3-tutorial.html">
                    <h4>CSS3</h4>
                </a>

                <a class="item-top item-1" href="http://www.runoob.com/bootstrap/bootstrap-tutorial.html">
                    <h4>Bootstrap</h4>
                </a>

                <a class="item-top item-1" href="http://www.runoob.com/foundation/foundation-tutorial.html">
                    <h4>Foundation</h4>
                </a>
            </div>
            <div class="codelist codelist-mobile">

                <h2><i class="fa fa-list"></i> JavaScript</h2>


                <a class="item-top item-1" href="http://www.runoob.com/js/js-tutorial.html">
                    <h4>JavaScript</h4>
                </a>

                <a class="item-top item-1" href="http://www.runoob.com/htmldom/htmldom-tutorial.html">
                    <h4>HTML DOM</h4>
                </a>

                <a class="item-top item-1" href="http://www.runoob.com/jquery/jquery-tutorial.html">
                    <h4>jQuery</h4>
                </a>

                <a class="item-top item-1" href="http://www.runoob.com/angularjs/angularjs-tutorial.html">
                    <h4>AngularJS</h4>
                </a>

                <a class="item-top item-1" href="http://www.runoob.com/react/react-tutorial.html">
                    <h4>React</h4>
                </a>

                <a class="item-top item-1" href="http://www.runoob.com/jqueryui/jqueryui-tutorial.html">
                    <h4>jQuery UI</h4>
                </a>

                <a class="item-top item-1" href="http://www.runoob.com/jeasyui/jqueryeasyui-tutorial.html">
                    <h4>jQuery EasyUI</h4>
                </a>

                <a class="item-top item-1" href="http://www.runoob.com/nodejs/nodejs-tutorial.html">
                    <h4>Node.js</h4>
                </a>

                <a class="item-top item-1" href="http://www.runoob.com/ajax/ajax-tutorial.html">
                    <h4>AJAX</h4>
                </a>

                <a class="item-top item-1" href="http://www.runoob.com/json/json-tutorial.html">
                    <h4>JSON</h4>
                </a>

                <a class="item-top item-1" href="http://www.runoob.com/highcharts/highcharts-tutorial.html">
                    <h4>Highcharts</h4>
                </a>

                <a class="item-top item-1" href="http://www.runoob.com/googleapi/google-maps-basic.html">
                    <h4>Google 地图</h4>
                </a>
            </div>

        </div>
    </div>
</div>
@section scripts{
<script src="~/js/main.js"></script>
}