@{
    Layout = "_LayoutOnlineNew";
}
@section Header{
    <title>霹雳猿教程 - 成就你的IT人生！</title>
    <link rel="canonical" href="www.piliyuan.com">
    <meta name="keywords" content="HTML,CSS,JavaScript,C#,.net,MVC,Entity Framework">
    <meta name="description" content="霹雳猿教程(www.piliyuan.com)提供了最全的编程技术基础教程, 介绍了HTML、CSS、Javascript、Python，Java，Ruby，C，PHP , MySQL等各种编程语言的基础知识。 帮助您成就您的IT梦想！">
}

<div class="row">
    <div class="col-xs-12">
        <br>
        <div class="customs-row">
            <div class="col-md-3 col-sm-6">
                <div class="edugate-layout-3">
                    <div class="edugate-layout-3-wrapper">
                        <div class="edugate-content">
                            <h1>HTML/HTML5</h1>
                            <div class="description">万维网的核心语言、标准通用标记语言下的一个应用超文本标记语言。</div>
                            <a href="/HTML/1.html" class="btn btn-primary">开始学习</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="edugate-layout-3">
                    <div class="edugate-layout-3-wrapper">
                        <div class="edugate-content">
                            <h1>JavaScript</h1>
                            <div class="description">JavaScript一种直译式脚本语言，是一种动态类型、弱类型、基于原型的语言，内置支持类型。它的解释器被称为JavaScript引擎，为浏览器的一部分，广泛用于客户端的脚本语言，最早是在HTML（标准通用标记语言下的一个应用）网页上使用，用来给HTML网页增加动态功能。</div>
                            <a href="/Javascript/30.html" class="btn btn-primary">开始学习</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="customs-row">
        </div>
    </div>
</div>
<input type="hidden" id="currentMenu" value="menuhome" />