@{
    Layout = "_LayoutOnlineNew";
}
@section Header{
    <title>霹雳猿教程 - 成就你的IT人生！</title>
    <link rel="canonical" href="www.piliyuan.com">
    <meta name="keywords" content="HTML,CSS,JavaScript">
    <meta name="description" content="霹雳猿教程(www.piliyuan.com)提供了最全的编程技术基础教程, 介绍了HTML、CSS、Javascript、Python，Java，Ruby，C，PHP , MySQL等各种编程语言的基础知识。 帮助您成就您的IT梦想！">
}

<div class="row">
    <div class="col-xs-12">
        <br>
        <div class="customs-row">
            <div class="col-md-3 col-sm-6">
                <div class="edugate-layout-3">
                    <div class="edugate-layout-3-wrapper">
                        <div class="edugate-content">
                            <h1>HTML/HTML5</h1>
                            <div class="description">Learn basics of Entity Framework. If you're completely new to Entity Framework, we recommend you to start with this section and gradually move forward.</div>
                            <a href="/HTML/1.html" class="btn btn-primary">开始学习</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="edugate-layout-3">
                    <div class="edugate-layout-3-wrapper">
                        <div class="edugate-content">
                            <h1>JavaScript</h1>
                            <div class="description">Learn basics of code-first, DB migration, configuring one-to-one, one-to-many and many-to-many relationships with DataAnnotation &amp; Fluent API, and many other features.</div>
                            <a href="/Javascript/30.html" class="btn btn-primary">开始学习</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="customs-row">
        </div>
    </div>
</div>